body {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#footnote{
    justify-content: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
  border: thick solid white;
  border-radius: 5px;
  padding: 4px;
}

.images img:hover{
    box-shadow: 0 0 5px 1px lightblue;
}


